* {
  box-sizing: border-box;
}

html, body {
  background-color: white;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  line-height: 30px;
  color: #4e4e4e;
}

h6 {
  color: red;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}
@media (max-width: 768px) {
  h6 {
    text-align: center;
  }
}

h4 {
  font-size: 20px;
}

h2 {
  font-size: 42px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 33px;
}
@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
}

.login-button {
  width: 122px;
  height: 48px;
  border-radius: 30px;
  margin-right: 9px;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9D783;
}
.login-button i {
  margin-left: 13px;
}
.login-button:hover {
  background-color: #191919;
  color: #F0EFE9;
}

.learn-more {
  background-color: transparent;
  border: 1px solid black;
  width: 180px;
}
.learn-more:hover {
  color: black;
  border: 1px solid rgb(110, 110, 110);
  background-color: rgba(0, 0, 0, 0.048);
}

.element {
  width: 650px;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
@media (max-width: 1400px) {
  .element {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .element {
    display: none;
  }
}

header {
  width: 100%;
  background-color: #F0EFE9;
}
header .header-container {
  margin: auto;
  height: 120px;
  width: 1300px;
  display: flex;
}
@media (max-width: 1400px) {
  header .header-container {
    width: 1000px;
  }
}
@media (max-width: 1200px) {
  header .header-container {
    width: 800px;
  }
}
@media (max-width: 992px) {
  header .header-container {
    width: 600px;
  }
}
@media (max-width: 768px) {
  header .header-container {
    position: relative;
    width: 100%;
  }
}
header .header-container img {
  width: 137px;
  margin-right: 3vw;
}
@media (max-width: 768px) {
  header .header-container img {
    margin-left: 3vw;
    min-width: 170px;
  }
}
header .header-container .header {
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
  header .header-container .header {
    position: static;
  }
}
header .header-container .header .contact {
  display: flex;
  margin-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cacaca;
}
@media (max-width: 768px) {
  header .header-container .header .contact {
    display: none;
  }
}
header .header-container .header .info {
  width: 200px;
  margin-left: 0.2vw;
  margin-right: 0.2vw;
  font-size: 15px;
  position: relative;
}
@media (max-width: 1200px) {
  header .header-container .header .info {
    display: none;
  }
}
header .header-container .header .info::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 90%;
  background-color: #cacaca;
}
header .header-container .header .info i {
  margin: 0.1vw;
  font-size: 20px;
  color: #191919;
}
header .header-container .header #location-social {
  width: calc(100% - 370px);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  header .header-container .header #location-social {
    justify-content: end;
    width: 100%;
  }
}
header .header-container .header #location-social::after {
  display: none;
}
@media (max-width: 1200px) {
  header .header-container .header #location-social .location {
    display: none;
  }
}
header .header-container .header #location-social .social i {
  font-size: 16px;
  margin-right: 0.3vw;
}
header .header-container .header #location-social .social i:hover {
  color: #5a5a5a;
}
header .header-container .header .nav {
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
@media (max-width: 992px) {
  header .header-container .header .nav .login-button {
    width: 110px;
  }
}
@media (max-width: 768px) {
  header .header-container .header .nav .login-button {
    margin: auto;
    margin-top: 18px;
  }
}
@media (min-width: 769px) {
  header .header-container .header .nav {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  header .header-container .header .nav {
    display: none;
    background-color: rgba(240, 239, 233, 0.9647058824);
    z-index: 999;
    top: 120px;
    left: 0;
    height: 410px;
  }
}
header .header-container .header .nav nav {
  width: 306px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  header .header-container .header .nav nav {
    width: 290px;
  }
}
@media (max-width: 768px) {
  header .header-container .header .nav nav {
    width: 100%;
    display: block;
  }
}
header .header-container .header .nav nav a {
  text-decoration: none;
  color: #191919;
  margin-bottom: 11px;
  position: relative;
}
@media (max-width: 768px) {
  header .header-container .header .nav nav a {
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    display: block;
    font-size: 1.1rem;
  }
  header .header-container .header .nav nav a:hover {
    background-color: rgba(0, 0, 0, 0.068);
  }
}
header .header-container .header .nav nav a:hover::after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: 13px;
  right: 0;
  left: 0;
  width: 60%;
  height: 2px;
  background-color: #191919;
}
@media (max-width: 768px) {
  header .header-container .header .nav nav a:hover::after {
    display: none;
  }
}
header .header-container .header .nav nav #here::after {
  content: "";
  margin: auto;
  position: absolute;
  bottom: 13px;
  right: 0;
  left: 0;
  width: 40%;
  height: 2px;
  background-color: #191919;
}
@media (max-width: 768px) {
  header .header-container .header .nav nav #here::after {
    display: none;
  }
}
header .header-container .header .menu {
  border: none;
  position: absolute;
  right: 3vw;
  top: 35px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 769px) {
  header .header-container .header .menu {
    display: none;
  }
}
header .header-container .header .menu:hover {
  background-color: rgba(0, 0, 0, 0.068);
}
header .header-container .header .menu i {
  font-size: 2.8rem;
}

.showcase-section {
  position: relative;
  background-color: #F0EFE9;
}
.showcase-section .showcase-container {
  width: 1280px;
  margin: auto;
  display: flex;
}
@media (max-width: 1400px) {
  .showcase-section .showcase-container {
    width: 1000px;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .showcase-section .showcase-container {
    width: 800px;
  }
}
@media (max-width: 992px) {
  .showcase-section .showcase-container {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .showcase-section .showcase-container {
    width: 100%;
  }
}
.showcase-section .showcase-container .showcase h1 {
  font-size: 86px;
  margin: 0;
  margin-top: 100px;
}
@media (max-width: 1400px) {
  .showcase-section .showcase-container .showcase h1 {
    font-size: 3.5rem;
    margin-left: 25px;
    margin-top: 0;
  }
}
@media (max-width: 1200px) {
  .showcase-section .showcase-container .showcase h1 {
    text-align: center;
    margin: 15px;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .showcase-section .showcase-container .showcase h1 {
    font-size: 3rem;
    margin: 10px;
    text-align: center;
  }
}
.showcase-section .showcase-container .showcase p {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 45px;
  font-size: 20px;
  color: #191919;
}
@media (max-width: 1400px) {
  .showcase-section .showcase-container .showcase p {
    margin-left: 25px;
  }
}
@media (max-width: 1200px) {
  .showcase-section .showcase-container .showcase p {
    margin: 0;
    margin-top: 35px;
    margin-bottom: 55px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .showcase-section .showcase-container .showcase p {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 55px;
    margin-top: 35px;
  }
}
.showcase-section .showcase-container .showcase .showcase-buttons-section {
  display: flex;
}
@media (max-width: 1400px) {
  .showcase-section .showcase-container .showcase .showcase-buttons-section {
    margin-left: 25px;
  }
}
@media (max-width: 1200px) {
  .showcase-section .showcase-container .showcase .showcase-buttons-section {
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .showcase-section .showcase-container .showcase .showcase-buttons-section {
    display: block;
  }
}
.showcase-section .showcase-container .showcase .showcase-buttons-section a {
  width: 200px;
  height: 60px;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .showcase-section .showcase-container .showcase .showcase-buttons-section a {
    margin: auto;
    margin-bottom: 20px;
  }
}
.showcase-section .showcase-container img {
  margin-top: 40px;
  margin-right: -50px;
}
@media (max-width: 1400px) {
  .showcase-section .showcase-container img {
    width: 450px;
    margin-right: 5px;
  }
}
@media (max-width: 1200px) {
  .showcase-section .showcase-container img {
    display: none;
  }
}
@media (max-width: 768px) {
  .showcase-section .showcase-container img {
    display: none;
  }
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 72px 0;
}
.logo-section .logo-container {
  width: 100%;
  max-width: 1320px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
}
.logo-section .logo-container img {
  margin: auto;
}

.features-section {
  width: 95%;
  max-width: 1520px;
  border: 1px solid #cacaca;
  margin: auto;
  display: grid;
  grid-template-columns: 640px 640px;
}
@media (max-width: 1400px) {
  .features-section {
    grid-template-columns: 570px 570px;
  }
}
@media (max-width: 1200px) {
  .features-section {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .features-section {
    grid-template-columns: 1fr;
  }
}
.features-section .features-header .features-header-container {
  margin-top: 70px;
  margin-right: 90px;
  margin-left: 90px;
}
@media (max-width: 1400px) {
  .features-section .features-header .features-header-container {
    margin-left: 60px;
  }
}
@media (max-width: 1200px) {
  .features-section .features-header .features-header-container {
    margin: 40px;
  }
}
@media (max-width: 768px) {
  .features-section .features-header .features-header-container {
    margin: 15px;
    margin-top: 25px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .features-section .features-header .features-header-container h6 {
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .features-section .features-header .features-header-container h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 43px;
  }
}
.features-section .features-header .features-header-container #learn-more {
  width: 95%;
}
@media (max-width: 1200px) {
  .features-section .features-header .features-header-container #learn-more {
    margin: auto;
    margin-bottom: 50px;
    width: 75%;
  }
}
@media (max-width: 768px) {
  .features-section .features-header .features-header-container #learn-more {
    margin-bottom: 0;
  }
}
.features-section .features-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 85px;
  margin-left: 30px;
}
@media (max-width: 1400px) {
  .features-section .features-grid {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .features-section .features-grid {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .features-section .features-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 30px;
  }
}
.features-section .features-grid .features-grid-container {
  margin-top: 80px;
  margin-right: 130px;
  width: 200px;
}
@media (max-width: 1400px) {
  .features-section .features-grid .features-grid-container {
    margin-right: 100px;
  }
}
@media (max-width: 1200px) {
  .features-section .features-grid .features-grid-container {
    margin: auto;
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .features-section .features-grid .features-grid-container {
    margin: auto;
    margin-top: 80px;
    text-align: center;
  }
}
.features-section .features-grid .features-grid-container i {
  font-size: 30px;
  margin-bottom: 13px;
}
.features-section .features-grid .features-grid-container h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.features-section .features-grid .features-grid-container p {
  margin: 0;
}

.about-section {
  width: 95%;
  max-width: 1320px;
  margin: 110px auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, 600px);
}
@media (max-width: 768px) {
  .about-section {
    grid-template-columns: 1fr;
  }
}
.about-section .woman-container {
  position: relative;
  margin: 0 30px 0 30px;
  max-width: 533px;
}
@media (max-width: 768px) {
  .about-section .woman-container {
    width: 350px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .about-section .woman-container .woman {
    width: 350px;
  }
}
.about-section .woman-container .element {
  position: absolute;
  top: 40px;
  left: -30px;
  width: auto;
}
@media (max-width: 768px) {
  .about-section .woman-container .element {
    display: block;
    width: 150px;
    top: 30px;
    left: -20px;
  }
}
.about-section .woman-container .founder {
  position: absolute;
  left: -50px;
  bottom: 45px;
  width: 368px;
  background-color: #BEEBFF;
  box-shadow: -9px 11px 19px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -9px 11px 19px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -9px 11px 19px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .about-section .woman-container .founder {
    left: 0;
    bottom: 0;
    width: 350px;
  }
}
.about-section .woman-container h4 {
  margin: 30px 0 20px 30px;
}
.about-section .woman-container h4 span {
  font-size: 16px;
  color: red;
}
.about-section .woman-container p {
  margin: 0 0 40px 30px;
}
.about-section .about-container {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  margin-left: 30px;
  margin-top: 50px;
  max-width: 533px;
}
@media (max-width: 768px) {
  .about-section .about-container {
    margin-right: auto;
    margin-left: auto;
  }
}
.about-section .about-container h2 {
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .about-section .about-container h2 {
    margin-right: 8px;
    margin-left: 8px;
  }
}
.about-section .about-container p {
  margin-top: 0;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .about-section .about-container p {
    margin-right: 8px;
    margin-left: 8px;
  }
}
.about-section .about-container .about-buttons {
  display: flex;
}
@media (max-width: 768px) {
  .about-section .about-container .about-buttons {
    margin-right: 8px;
    margin-left: 8px;
  }
}
.about-section .about-container .about-buttons #learn-more {
  width: 180px;
  background-color: #191919;
  color: white;
  margin-right: 20px;
}
.about-section .about-container .about-buttons #learn-more:hover {
  background-color: white;
  color: #191919;
  border: 1px solid black;
}
@media (max-width: 768px) {
  .about-section .about-container .about-buttons #learn-more {
    margin-right: 10px;
  }
}
.about-section .about-container .about-buttons button {
  width: 48px;
  height: 48px;
  margin: 0 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.about-section .about-container .about-buttons button:hover {
  background-color: #191919;
  color: white;
}
@media (max-width: 768px) {
  .about-section .about-container .about-buttons button {
    margin: 0 15px;
  }
}
.about-section .about-container .about-buttons p {
  margin: auto 0;
}

.services-section {
  background-color: #F0EFE9;
  position: relative;
}
.services-section .element {
  left: auto;
  right: 0;
}
.services-section .services-container {
  max-width: 1380px;
  padding: 100px 40px;
  margin: auto;
}
@media (max-width: 768px) {
  .services-section .services-container {
    padding: 100px 20px;
  }
}
.services-section .services-container h2 {
  width: 500px;
}
@media (max-width: 768px) {
  .services-section .services-container h2 {
    width: auto;
  }
}
.services-section .services-container .learn-more {
  margin: 40px auto 0 auto;
}
.services-section .services-container .services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
  justify-content: space-between;
  gap: 20px;
}
.services-section .services-container .services-grid .services-grid-container {
  background-color: white;
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 330px;
}
.services-section .services-container .services-grid .services-grid-container h4 {
  margin: 0 25px;
}
.services-section .services-container .services-grid .services-grid-container h4::before {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  margin: 40px 0 30px 0;
  background-color: black;
}
.services-section .services-container .services-grid .services-grid-container p {
  margin: 10px 25px;
  margin-bottom: 0;
}
.services-section .services-container .services-grid .services-grid-container div {
  display: flex;
  justify-content: end;
  align-items: center;
}
.services-section .services-container .services-grid .services-grid-container div a {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.services-section .services-container .services-grid .services-grid-container div a:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
.services-section .services-container .services-grid .startup {
  background-color: #F9D783;
}
.services-section .services-container .services-grid .startup div a {
  background-color: white;
  color: black;
}
.services-section .services-container .services-grid .startup div a:hover {
  background-color: black;
  color: white;
  border: none;
}

.choose-us-section {
  position: relative;
}
.choose-us-section .box {
  height: 55%;
  width: 53%;
  z-index: 998;
  position: absolute;
  right: 0;
  bottom: 60px;
  background-color: #F0EFE9;
}
@media (max-width: 768px) {
  .choose-us-section .box {
    display: none;
  }
}
.choose-us-section .choose-us-container {
  max-width: 1380px;
  padding: 60px 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .choose-us-section .choose-us-container {
    padding: 60px 20px;
  }
}
.choose-us-section .choose-us-container .choose-us-header h2 {
  margin-bottom: 0;
  width: 60%;
}
@media (max-width: 1200px) {
  .choose-us-section .choose-us-container .choose-us-header h2 {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .choose-us-section .choose-us-container .choose-us-header h2 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .choose-us-section .choose-us-container .choose-us-header .choose-us-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
.choose-us-section .choose-us-container .choose-us-header .choose-us-grid .choose-us-header-container {
  display: flex;
  margin-top: 45px;
}
@media (max-width: 768px) {
  .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .choose-us-header-container {
    justify-content: center;
  }
}
.choose-us-section .choose-us-container .choose-us-header .choose-us-grid .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  margin-top: auto;
  margin-bottom: auto;
  height: 62px;
  padding: 0 15px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 50%;
}
.choose-us-section .choose-us-container .choose-us-header .choose-us-grid .icon i {
  font-size: 30px;
}
.choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text h4 {
  margin: 0;
}
.choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text p {
  margin: 0;
  margin-top: 5px;
}
@media (max-width: 992px) {
  .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text p {
    width: 95%;
  }
}
@media (max-width: 768px) {
  .choose-us-section .choose-us-container .choose-us-header .choose-us-grid .text p {
    width: 100%;
  }
}
.choose-us-section .choose-us-container img {
  z-index: 999;
}
@media (max-width: 1400px) {
  .choose-us-section .choose-us-container img {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .choose-us-section .choose-us-container img {
    width: 450px;
  }
}
@media (max-width: 992px) {
  .choose-us-section .choose-us-container img {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .choose-us-section .choose-us-container img {
    display: none;
  }
}